:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --third-text-color: #4D5AE5;
    --ocean-color: #404BBF;
    --first-light-text-color: #FFFFFF;
    --second-light-text-color: #F4F4FD;



}

.list {
    list-style: none;
}

.link {
    text-decoration: none;

}

.logo-text {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-text-color);
    background-color: var(--first-light-text-color);
}

/*============== Header =================*/

.logo-color {

    color: var(--primary-text-color);
}

.logo {
    color: var(--third-text-color);

}

.header-item {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.header-address-item {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

}

.header-address-link {

    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.header-item:hover,
.header-item:focus {
    color: var(--ocean-color);
}

.header-address-link:hover,
.header-address-link:focus {
    color: var(--ocean-color);
}

/*/============== Header =================/*/

/*============== Hero =================*/
.hero-page {
    background: var(--primary-text-color);
}

.hero-title {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--first-light-text-color);
}


.hero-btn {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--first-light-text-color);
    background: var(--third-text-color);
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--ocean-color);
}





/*/============== Hero =================/*/

/*============== Section 1 =================*/
.subtitle-criterion {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.text-criterion {
    font-family: var(--primary-font);

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

/*============== Section 1 =================*/

/*============== Section 2 =================*/

.title-section-working {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--primary-text-color);
}

/*============== Section 2 =================*/

/*============== Section 3 =================*/

.employees {
    background: var(--second-light-text-color);
}

.photos-employees-list {
    background-color: #FFFFFF;
}

.subtitle-employees {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary-text-color);
}

.name-employees {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.profession {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}




/*/============== Section 3 =================/*/


/*============== Portfolio =================*/



.btn-color {

    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--third-text-color);
    background: var(--second-light-text-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    cursor: pointer;
}

.btn-color:hover,
.btn-color:focus {
    background: var(--ocean-color);
    color: var(--first-light-text-color);
    ;
}

.foto-applications-list {
    background: #E5E5E5;

}

.foto-applications-item {
    background: var(--first-light-text-color);
}

.foto-applications-link:hover,
.foto-applications-link:hover {
    border: 1px solid var(--ocean-color);

}




.title-applications {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.text-applications {
    font-family: var(--primary-font);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

/*/============== Portfolio =================/*/




/*============== Footer =================*/
.footer-page {
    background: var(--primary-text-color);
}

.logo-footer {
    color: var(--second-light-text-color);
}

.text-footer {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-light-text-color);
}

/*============== Footer =================*/